version: "3.8"

services:
  redis:
    image: redis
    container_name: redis-container
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8
    container_name: law-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: law-app
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"     # Web + API
      - "9001:9001"     # MinIO Console (web UI)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  backend:
    build:
      context: ./backend
    container_name: law-backend
    depends_on:
      - mysql
      - redis
      - minio
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/law-app?serverTimezone=Asia/Ho_Chi_Minh
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345678
      MINIO_URL: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_IMAGES: images
    ports:
      - "8080:8080"

volumes:
  mysql-data:
  minio-data:
