app = "law-app-backend"
primary_region = "sin"

[build]
dockerfile = "Dockerfile"

[env]
SERVER_PORT = "8080"

[processes]
app = "java -jar app.jar"

[[services]]
internal_port = 8080
protocol = "tcp"
processes = ["app"]

[[services.ports]]
port = 80
handlers = ["http"]

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[services.concurrency]
type = "connections"
soft_limit = 100
hard_limit = 200

[mounts]
source = "law_app_data"
destination = "/data"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
